* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    flex-direction: column; 
} 
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 16px 250px;
    background-color: #1f2937; 
} 
header h1 {
    font-size: 24px; 
    color: #e5e7eb;
}
ul, a {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 16px; 
    color: #e5e7eb;
    font-size: 18px; 
    font-weight: lighter;
}  
header a:hover {
    color: #3882f6;
    cursor: pointer;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
    height: 300px;
    background-color: #1f2937; 
} 
.sign-up {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 180px;
    width: 300px;
}
.sign-up button {
    width: 120px; 
    padding: 8px; 
    font-size: 15px;
    border-radius: 8px; 
    border: none; 
    background-color: #3882f6; 
    color: #e5e7eb; 
    margin-top: 8px;
    font-weight: bold;
} 
.sign-up button:hover {
    background-color: #2e69c9;
    cursor: pointer;
}
.sign-up h2 {
    color: #e5e7eb; 
    font-size: 40px;
    font-weight: bolder;
} 
.sign-up p {
    color: #e5e7eb; 
    font-size: 18px; 
    width: 430px; 
    margin-top: 5px; 
    font-weight: lighter;
}
.image-placeholder {
    height: 180px; 
    background-color: grey; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 400px; 
    color: rgb(176, 178, 183, 1);
} 
.more-info {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 0 250px; 
    height: 450px;
}  
#info-header { 
    margin: 32px 0;
    font-size: 36px; 
    font-weight: bolder; 
    color: #1f2937;
}
.cards {
    display: flex; 
    gap: 45px;
} 
.card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
.card div {
    border: 3px solid #3882f6; 
    width: 150px;
    height: 150px; 
    border-radius: 25px; 
    margin-bottom: 10px;
} 
.card-subtext {
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(94, 95, 95); 
}
