* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    flex-direction: column; 
} 
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 16px 250px;
    background-color: #1f2937; 
} 
header h1 {
    font-size: 24px; 
    color: #e5e7eb;
}
ul, a {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 16px; 
    color: #e5e7eb;
    font-size: 13px;
}  
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
    height: 300px;
    background-color: #1f2937; 
} 
.sign-up {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 180px;
    width: 300px;
}
.sign-up button {
    width: 90px; 
    padding: 5px; 
    border-radius: 5px; 
    border: none; 
    background-color: #3882f6; 
    color: #e5e7eb; 
    margin-top: 8px;
} 
.sign-up h2 {
    color: #e5e7eb; 
    font-size: 30px;
    font-weight: bolder;
} 
.sign-up p {
    color: #e5e7eb; 
    font-size: 13px; 
    width: 315px; 
    margin-top: 5px;
}
.image-placeholder {
    height: 180px; 
    background-color: grey; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 400px; 
    color: #e5e7eb;
}
