* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    flex-direction: column; 
} 
header {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    padding: 16px 250px;
    background-color: #1f2937; 
} 
header h1 {
    font-size: 24px; 
    color: #e5e7eb;
}
ul, a {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 16px; 
    color: #e5e7eb;
    font-size: 18px; 
    font-weight: lighter;
}  
header a:hover {
    color: #3882f6;
    cursor: pointer;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 0px 250px;
    height: 300px;
    background-color: #1f2937; 
} 
.sign-up {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 180px;
    width: 300px; 
}
.sign-up button {
    width: 120px; 
    padding: 8px; 
    font-size: 15px;
    border-radius: 8px; 
    border: none; 
    background-color: #3882f6; 
    color: #e5e7eb; 
    margin-top: 8px;
    font-weight: bold;
} 
.sign-up button:hover {
    background-color: #2e69c9;
    cursor: pointer;
}
.sign-up h2 {
    color: #e5e7eb; 
    font-size: 40px;
    font-weight: bolder;
} 
.sign-up p {
    color: #e5e7eb; 
    font-size: 18px; 
    width: 430px; 
    margin-top: 5px; 
    font-weight: lighter;
}
.image-placeholder {
    height: 180px; 
    background-color: grey; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 300px; 
    color: rgb(176, 178, 183, 1);
} 
.more-info {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 0 250px; 
    height: 450px;
}  
#info-header { 
    margin: 32px 0;
    font-size: 36px; 
    font-weight: bolder; 
    color: #1f2937;
}
.cards {
    display: flex; 
    gap: 45px;
} 
.card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
.card div {
    border: 3px solid #3882f6; 
    width: 150px;
    height: 150px; 
    border-radius: 25px; 
    margin-bottom: 10px;
} 
.card-subtext {
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(94, 95, 95); 
} 
.quote-section {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 450px; 
    padding: 0 250px; 
    background-color: #e5e7eb;
} 
.quote p {
    font-size: 36px;
    font-weight: lighter; 
    font-style: italic; 
    color: #1f2937; 
    width: 700px;
}  
.quote-author {
    display: flex; 
    width: 685px;
    justify-content: flex-end;
    margin-top: 8px;
} 
.quote-author p {
    font-weight: bold;
    font-size: 20px; 
    color: #1f2937;
} 
.fourth-section {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.call-to-action {
    height: 30%; 
    width: 70%;
    background-color: #3882f6; 
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.right {
  padding-right: 90px; 
  padding-left: 0;
}
.right h3 {
    font-size: 25px;
    color: #e5e7eb;
}
.right p {
    font-weight: lighter;
    color: #e5e7eb;
}
.call-to-action div {
    /* padding-right: 30px; */
}
.call-to-action div button {
    background-color: #3882f6; 
    border: 2px solid white;
    color: #e5e7eb;
    font-weight: bold; 
    font-size: 18px;
    padding: 10px; 
    border-radius: 10px;
    width: 120px;
}  
.call-to-action div button:hover {
    border: 2px solid rgb(203, 202, 202); 
    cursor: pointer;
    color: #fdfdfd;
}
